body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
}

h2 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
}

h3 {
    text-align: left;
    color: #333;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: left;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style for inner list items with class "applicants" */
.applicants {
    text-align: left;
    padding: 8px;
    padding-left: 1px;
    padding-right: 15px;
    font-size: 14px; /* Adjust the font size as needed */
    color: #424242; /* Adjust the color as needed */
    height: 25px;
}

a {
    text-decoration: none;
    color: #0066cc;
    padding: 5px 10px;
    margin: 0 10px;
    border: 1px solid #0066cc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #0066cc;
    color: #fff;
}

.delete_job{

    text-decoration: none;
    color: #0066cc;
    padding: 5px 10px;
    margin: auto;
    border: 1px solid #0066cc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.view_info{
    text-decoration: none;
    color: #0066cc;
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
}

.view_info:hover{
    font-size: large;
    background-color: #fff;
}

#home-link {
    position: fixed;
    font-size: large;
    top: 25px;
    left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

#home-link:hover {
    color: #0066cc;
}

#admin-hr-link {
    position: fixed;
    font-size: large;
    top: 75px;
    left: 75px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

#admin-hr-link:hover {
    color: #0066cc;
}

#admin-user-link {
    position: fixed;
    font-size: large;
    top: 110px;
    left: 75px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

#admin-user-link:hover {
    color: #0066cc;
}

#admin-company-link {
    position: fixed;
    font-size: large;
    top: 145px;
    left: 75px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

#admin-company-link:hover {
    color: #0066cc;
}