<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_info_list.css') }}">
</head>
<body>
    <button id="home-link" onclick="window.location.href='/'">Home</button>
    <a href="{{ url_for('main_routes.admin_dashboard') }}">Back</a>

    <h2>All Companies</h2>
    <div class="content-container">
        <ol>
            {% for company in companies %}
                <!-- <li class="hr-item"> -->
                <li>
                    <div class="company-item" style="text-align: left;">
                        <h4><a href="{{ url_for('main_routes.admin_company_info', company_id=company.Company_ID)}}">{{ company.Company_Name }}</a></h4>

                        {% if 'user_type' in session and session['user_type'] == 'admin' %}
                            <a href="{{ url_for('main_routes.delete_company', company_id=company.Company_ID) }}">Delete</a>
                        {% endif %}
                        <!-- {{ company.Company_Location }}
                        <br> -->
                        <!-- {{ company.Company_description }}
                        <br> -->
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>