<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h2>All Jobs</h2>

    <ul>
        {% for job in jobs %}
            <li>
                {{ job.Job_Title }} - {{ job.Job_Description }} - Salary: {{ job.Job_Salary }}
                {% if 'user_type' in session and session['user_type'] == 'user' %}
                    <a href="{{ url_for('main_routes.apply_job', job_id=job.Job_ID) }}">Apply</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
