<!-- smart_search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='smart_search.css') }}">

</head>
<body>
    <button id="home-link" onclick="window.location.href='/'">Home</button>
    <div class="content-container">
        <p>Let's <a href="{{ url_for('main_routes.smart_search') }}?search=true" data-replace="smart search"><span>smart search</span></a></p>
    </div>
</div>
</body>
</html>
