<!-- templates/user_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

</head>
<body>
    <button id="home-link" onclick="window.location.href='/'">Home</button>
    <h2>User Dashboard</h2>
    <div class="content-container">
        <h3>Welcome, {{ session['user_id'] }}!</h3> 
        <a href="{{ url_for('main_routes.update_personal_info') }}">Update Personal Information</a>

        <h4 style="color: rgb(53, 53, 53); text-align: left;">Your Applications:</h4>

        <ul>
            {% for job in user.applied_jobs %}
            <li>
            <h4 style="margin-top: 2px;">{{ job.Job_Title }}</h4>
            {{ job.Job_Description }}
            <br>
            <br>

            <b>Salary:</b> {{ job.Job_Salary }}

        </li>
            {% endfor %}
        </ul>

        
</div>
</body>
</html>
